.container
{
    text-align: center;
    margin: top 20px; 

}
.calcu{
    
    border-radius: 10px;
    border: 10px;
    display: inline-block;
    border-color: blue;
}
table
{
    margin: auto;
    margin-top: 5px;
    background-color:#f7f7f7;
    box-shadow: inset;
    border-radius: 10px;
    border-color: black;
}
#display
{
    font-size: 20px;
    background-color:lavender;
    border: 3px;
    border-radius: 10px;
}
button{
    background-color:white;
    box-shadow: 3px;
    width: 60px;
    height: 41px;
    border-radius: 21px;

}
#equal
{
    width: 118px;
}